osg/bin/

!osg/bin/.gitkeep

osg/include/

!osg/include/.gitkeep


osg/lib/

!osg/lib/.gitkeep

.vs/

out/build/x64-Debug/.cmake/

out/build/x64-Debug/CMakeFiles/

out/build/x64-Debug/Testing/

out/build/x64-Debug/

!out/build/x64-Debug/.gitkeep
